<div class="container">
  <div class="level tile is-ancestor">

    <div class="tile is-parent">
      <!--Go to registration-->
      <div class="tile is-parent is-vertical">
        {{> registerForm }}
      </div>

      <!--Go to login-->
      <div class="tile is-parent is-vertical">
        {{> loginForm }}
      </div>

    </div>
  </div>
</div>