<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/bulma.css">
    <link rel="icon" type="image/png" href="/favicon.ico">
</head>
<body>
  <section class="hero is-info">
    <div class="hero-head">
      <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="images/logo.png" alt="Logo">
            </a>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item"  href="/">Inicio</a>
            <a class="navbar-item"  href="/register">Registrarse</a>
            <a class="navbar-item"  href="/documentation">Login</a>
          </div>
        </div>
      </div>
      </nav>
    </div>

    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container has-text-centered">
      <h1 class="title logo">EVEA</h1>
      <h1 class="subtitle">Dpto. Sistemas e Informática</h1>
    </div>
  </section>
    <main>
      {{{body}}}
    </main>
  <footer class="footer">
    <div class="content has-text-centered">
      <p>Entornos virtuales de aprendizaje II-2018</p>
    </div>
  </footer>
</body>
</html>