<form action="/login" class="field has-addons" method="post">

  <div class="tile is-parent is-vertical">
    <div class="tile is-child">
      <input class="input" type="email" placeholder="Email" name="email">
      <input class="input" type="password" placeholder="Password" name="password">
    </div>

    <div class="tile is-child is-centered">
      <input type="submit" value="Inicia Sesión" class="button is-info is-medium"></input>
    </div>
  </div>

</form>