<form action="/register" class="field has-addons" method="post">

  <div class="tile is-parent is-vertical">
    <div class="tile is-child">
      <input class="input" type="text" placeholder="Nombre completo" name="name">
      <input class="input" type="email" placeholder="Email" name="email">
      <input class="input" type="password" placeholder="Password" name="password">
    </div>

    <div class="tile is-child">
      <input type="submit" value="Registrame" class="button is-info is-medium"></input>
    </div>
  </div>
  
</form>